{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1> {{ Heading }} </h1>    
    <div>
        <form action="" method="POST">
            {% csrf_token %}
            <textarea id="title" placeholder="Enter the title of your new page" name="newTitle"></textarea>
            <textarea placeholder="Enter the text for your new page using markdown" name="newBody"></textarea>
            <br>
            <button type="submit" name="saveButton">Save page</button>
        </form>
    </div>
{% endblock %}