{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1> {{ Heading }} </h1>    
    <div>
        {% if Results %}
        <ul>
            {% for result in Results %}
                <li>
                    <a href="wiki/{{ result }}">{{ result }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No search results found. Please try a different search term.</p>
        {% endif %}
    </div>
{% endblock %}